
{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created_at</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {%for post in posts%}
            <tr>
                <td>{{ post["title"] }}</td>
                <td>{{ post["name"] }}</td>
                <td>{{ post["created_at"] }}</td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="post_id" value="{{ post["id"] }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
{% endblock %}